.vscode/*
assets
data
third_party/*
demos/*
eval_video/*
*.out
_outputs/*
Temp
temp
*.log
outputs


# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyTorch
*.pth
*.pt
*.pkl

# Jupyter Notebook
.ipynb_checkpoints
scripts/train.yaml

*.pyc
outputs/*
.DS_Store
model/noposplat/*
pretrained_weights/mixRe10kDl3dv.ckpt
data/*
_outputs/*
rod.log


config/task/*
!config/task/default_task.yaml
